<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="container text-center">
        <small class="copyright">
            Original templates designed by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> and
            <a href="https://github.com/rohanchandra/type-theme" target="_blank">Rohan Chandra</a>
        </small>

    </div><!--//container-->
</footer><!--//footer-->

<!-- Javascript -->
<script type="text/javascript" src="{{ "/assets/plugins/jquery-1.12.1.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/jquery-migrate-1.2.1.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/plugins/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/mainBlog.js" | prepend: site.baseurl }}"></script>
