<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Pierre Laperdrix">

    <title>Blog | Pierre Laperdrix</title>

    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic" rel="stylesheet" type="text/css">

    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ "/assets/plugins/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/mainBlog.css" | prepend: site.baseurl }}">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ "/assets/css/stylesBlog.css" | prepend: site.baseurl }}">

	<!-- Canonical -->
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	
	<!-- RSS -->
	<link rel="alternate" type="application/atom+xml" title="{{ site.theme.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ "/assets/plugins/font-awesome/css/font-awesome.css" | prepend: site.baseurl }}">

    <!-- KaTeX -->
	{% if site.theme.katex %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>
	{% endif %}

</head>
